<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<button type="button" class="btn btn-primary show-modal" data-toggle="modal"
    data-target="#modalPoll-1">Export File</button>

<!-- Modal: modalPoll -->
<div class="modal" id="modal-export" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Export File</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--FORMMMMMMMMMMMMMM-->
            <from action="/export-post" method="post">
                <div class="modal-body">

                    <!-- Radio -->
                    <p class="text-center">
                        <strong>Choose Type Export</strong>
                    </p>
                    
                    <div class="d-flex justify-content-around">
                        <div class="form-check ">
                            <input class="form-check-input" name="file_type" type="radio" id="radio-179" value="xlsx"
                                checked>
                            <label class="form-check-label" for="radio-179">Excel (.xlsx)</label>
                        </div>
    
                        <div class="form-check ">
                            <input class="form-check-input" name="file_type" type="radio" id="radio-279" value="txt">
                            <label class="form-check-label" for="radio-279">Text (.txt)</label>
                        </div>
                    </div>

                    <p class="text-center mt-3">
                        <strong>File name?</strong>
                    </p>
                    <!--Basic textarea-->
                    <div class="md-form">
                        <input type="text" id="form79textarea" class="md-textarea form-control"></input>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-primary waves-effect waves-light" id="export-btn">Export File
                        <i class="fa fa-paper-plane ml-1"></i>
                    </a>
                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                </div>
            </from>


            <!--Footer-->

        </div>
    </div>
</div>

<script>
    $('.show-modal').click(() => {
        console.log('sdfgh ewsdzd')
        $('#modal-export').show()
    })
    $('.close').click(()=>{
        $('#modal-export').hide()
    })

    $('#export-btn').click(() => {
        $('#modal-export').hide()
        fetch('/management-user/json')
        .then(function(response){
            return response.json()
        })
        .then(data => {

            let type_f = $('[name="file_type"]').val() 
            let file_name = $('.md-textarea.form-control').val()
            let return_data = {data_body:data, sub: {type_f, file_name}}
            console.log('daadada', data)


            fetch('/management-user/export', {
                method: 'POST',
                headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
                body: JSON.stringify(return_data)
            }).then(response => {
                console.log('response......',response)
                return response.json()
            })
            .then(data => {
                alert(` Status: ${data.status}  \n Message: ${data.message}`)

            })
            .catch(error =>{
                console.log('error')
            })
        })
    })
</script>
<!-- Modal: modalPoll -->