<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="head">Welcome <%= data_home.displayName %> </h3>
    <div class="d-flex p-2">
        <div class="item mt-3">
            <a href="/remote">Remote: Check in Check Out</a>

        </div>
        <div class="item mt-3">
            <a href="">Statistic: Users</a>
        </div>
        <div class="item mt-3">
            <a href="">On Leaves</a>
        </div>
        <div class="item mt-3">
            <a href="">Over TIme</a>
        </div>
    </div>

</body>
</html>